<div id="good">
 I'm the good partial

{{#if imageSize}}
<div>
   <img src="https://s-media-cache-ak0.pinimg.com/originals/0e/1c/10/0e1c100908962a43f711d0e2caca3a0c.gif" style="width: {{imageSize}}px">
</div>
{{/if}} 
<div>Things I like
    <ul>
        <li class="item" style="background-color: {{settings.color}}; color: white;">
          {{settings.color}}
        </li>
        <li>
          {{settings.adjective}} {{settings.food}}
        </li>
        <li>Puppies</li>
        <li>Charity</li>
    </ul>
</div>

<div>Things I dislike
 <ul>
  <li>Bad Men</li>
  <li>Pain</li>
  <li>Suffering</li>
  <li>Anger</li>
  </ul>
</div>

 <h2>Biography</h2>
 <p>I'm a good person and I like life.</p>


</div>
